button {
  color: black;
  background-color: #e6c5c1;
  font-family: cursive;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 150px;
  height: 50px;
  border-radius: 10px;
}

/* -----------------Menu nella versione mobile-----------------*/

@media (min-width: 600px) {
  /* versione dekstop*/

  body {
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
  }
  .tendina {
    padding: 10px;
    padding-top: 14px;
    background: transparent;
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 2;
    transition: 2s;
  }
  .icon-menu {
    display: block;
    height: 4px;
    width: 20px;
    background: black;
    margin-bottom: 5px;
    border-radius: 8px;
  }
  .menu {
    height: 100%;
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 60px;
    padding-right: 20px;
    transition: 1.5s;
    transform: translateX(+100%);
  }

  .wide {
    transform: translateX(+80%);
  }

  .menu ul {
    list-style: none;
  }

  .menu li {
    padding: 10px;
    font-size: 25px;
    color: black;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .navbar {
    display: flex;
    flex-flow: row;
  }

  .logo {
    display: flex;
    padding-left: 30px;
  }

  .logo img {
    width: 150px;
  }
  .titlelinks {
    display: flex;
    flex-flow: row;
  }

  .titlemotto {
    display: flex;
    flex-flow: column;
    align-items: start;
    padding-top: 20px;
  }

  .title {
    display: flex;
    justify-content: end;
    align-items: end;
  }

  .motto {
    font-size: 14px;
  }

  .linknavbar {
    font-size: 16px;
    display: flex;
    padding-left: 100px;
    gap: 20px;
  }

  .main-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 40px;
  }

  .copertina {
    padding-top: 50px;
    display: flex;
    max-height: 550px;
    max-width: 100%;
  }

  .copertina img {
    width: 1900px;
    object-fit: cover;
  }

  .blocco2 {
    display: flex;
    flex-flow: row;
    gap: 30px;
  }

  .blocco2 img {
    width: 300px;
  }

  .blocco3 {
    display: flex;
    flex-flow: row;
    gap: 30px;
  }

  .blocco3 img {
    width: 300px;
  }
}

/*------------------------------------------*/

@media (max-width: 600px) {
  body {
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
  }

  .tendina {
    padding: 10px;
    padding-top: 14px;
    background: transparent;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
  }
  .icon-menu {
    display: block;
    height: 4px;
    width: 20px;
    background: black;
    margin-bottom: 5px;
    border-radius: 8px;
  }
  .menu {
    height: 100%;
    width: 100%;
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    padding-top: 60px;
    padding-right: 20px;
    transition: 1.2s;
    transform: translateX(+100%);
  }

  .wide {
    transform: translateX(+0%);
  }

  .menu ul {
    list-style: none;
  }

  .menu li {
    padding: 10px;
    font-size: 25px;
    color: black;
  }

  a {
    text-decoration: none;
    color: black;
  }
  .navbar {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    font-size: 15px;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .logo img {
    width: 120px;
  }

  .title h2 {
    align-items: start;
  }

  .titlelinks {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .linknavbar {
    display: flex;
    flex-flow: column;
    padding-left: 0px;
    gap: 20px;
  }

  .main-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 40px;
  }

  .copertina {
    padding-top: 50px;
    display: flex;
  }

  .copertina img {
    max-width: 100%;
    object-fit: cover;
  }

  .capitolo2 {
    font-family: "DM Sans", sans-serif;
    display: flex;
    flex-flow: row;
  }
  .blocco2 {
    display: flex;
    flex-flow: column;
    gap: 30px;
  }

  .blocco2 img {
    max-width: 100%;
    object-fit: cover;
  }

  .blocco3 {
    display: flex;
    flex-flow: column;
    gap: 30px;
  }

  .blocco3 img {
    max-width: 100%;
    object-fit: cover;
  }

  .facebook {
    display: flex;
    flex-flow: row;
    gap: 10px;
  }

  .facebook img {
    width: 60px;
    border-radius: 16px;
  }

  .facebook p {
    font-size: 18px;
    align-items: center;
  }

  .ig {
    display: flex;
    flex-flow: row;
    gap: 10px;
  }

  .ig img {
    width: 60px;
    border-radius: 16px;
  }

  .ig p {
    font-size: 20px;
    align-items: center;
  }

  .whatsapp {
    display: flex;
    flex-flow: row;
    gap: 10px;
  }

  .whatsapp img {
    width: 60px;
    border-radius: 16px;
  }

  .whatsapp p {
    font-size: 20px;
    align-items: center;
  }
}
